html{
    overflow: hidden;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    background-color: gainsboro;

}
/*----Bulma Override----*/
.subtitle{
    color: #282828;
}


/*----Top Section----*/
.header {
    max-width: 700px;
}

.main-buttons {
    display: flex !important;
}

a{
    color: #4a4a4a;
    display: inline;
    letter-spacing: 0.2rem;
}
a:hover{
    color: white;
}

.social-links {
    padding: 0.5rem 0 0.5rem 0;
    display: flex;
    justify-content: center;
}

.social-links>div>a {
    margin-left: 3rem;
    margin-right: 3rem;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
}

.social-links>div>a:hover {
    transform: scale(1.2);
    -moz-transform: scale(1.2);
    color: #288000;
}

/*----Bottom Section----*/
.spaced {
    letter-spacing: 0.3rem;
}

.sub-body {
    text-align: left;
}

.fa-html5 {
    color: #288000;
}

.fa-vuejs {
    color: #288000;
}

.fa-code {
    color: #288000;
}

.fa-adobe {
    color: #288000;
}

/*footer*/
.hero-foot {
    background-color: rgba(0, 0, 0, 0.15);
    height: 3rem;
    margin-bottom: 0 !important;
    color: rgb(97, 97, 97);
    font-size: 0.85rem;
}

.center {
    margin: auto;
    text-align: center;
}

/*Button Effect*/


#outer {
    margin: auto;
}